<a href="post/{{id}}"></a>
  <div class="card grey lighten-3  container section">
    <div class="card-content black-text padding 10px ">
      <h5>Posted By {{User.user_name}} on {{format_date created_at}}</h5>
      <h3>{{title}}</h3>
      <p>{{post_text}}</p>
      <section class="section">
      <a href = "/dashboard/edit/{{id}}" class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3">Edit</a>
      </section>
    </div>    
