
  <div class="post-head">  
    <div class="card-content padding-10px" id="card-1">
      <h5>Posted By {{User.user_name}} on {{format_date created_at}}</h5>
      <H2>{{title}}</H2>
      <p>{{post_text}}</p>
      <a href = "/dashboard/edit/{{id}}" class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Edit</a>
    </div>    
