<div onclick = window.location.href="../post/{{id}}" style = "cursor:pointer">
  <div class="card grey lighten-3 container">
    <div class="card-content black-text">
      
      <a href = "/user/{{user_id}}" style="font-size: 30px; font-style:italic; pointer-events:auto">
        {{User.user_name}}
      </a>
      
      <h5>on {{format_date created_at}}</h5>

      <h3>{{title}}</h3>
      <p style = "white-space: pre-wrap;">{{post_text}}</p>
      <br>
      <p class = "deep-orange-text lighten-2">{{Comments.length}} comments</p>
    </div>
{{#if isAdmin}}
  <section class="section card-content">
      <a href = "/dashboard/edit/{{id}}" class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3">Edit</a>
      </section>
{{/if}}
</div>  
</div>  
